<div class="container">
  <button (click)="sample1()">Sample 1</button>
  <button (click)="sample2()">Sample 2</button>
  <button (click)="sample3()">Sample 3</button>
  <button (click)="sample4()">Sample 4</button>
  <button (click)="sample5()">Sample 5</button>
  <button (click)="sample6()">Sample 6</button>
  <button (click)="sample7()">Sample 7</button>
  <button (click)="sample8()">Sample 8</button>
  <button (click)="sample9()">Sample 9</button>
  <button (click)="sample10()">Sample 10</button>
  <button (click)="sample11()">Sample 11</button>
  <button (click)="sample12()">Sample 12</button>
  <button (click)="sample13()">Sample 13</button>
  <button (click)="sample14()">Sample 14</button>
</div>
